#productos {
    font-family: $fuente;
    font-size: $size-fuente-header;

    div {


        h1 {
            @extend %texto-titulos;
            padding: $pad-h1;
        }

        div {
            #btnLogin {
                font-size: $size-fuente-btn-compra;
            }

            #btnCompra {
                font-size: $size-fuente-btn-compra;
            }

            #registro {
                text-decoration: none;
                color: black;
            }

            h3 {
                font-weight: bold;
            }
        }


        button {
            @extend %boton-menu;

            &:hover {
                @extend %boton-menu-hover;
                transform: scale(110%);
            }
        }

        #cardsDom {
            h5 {
                font-weight: bold;
            }
            p {
                font-size: $size-fuente-cards;
            }
        }

    }


}

// Estilos Sweetalert
.swal-button {
    @extend %boton-menu;
    font-family: $fuente;
    font-size: $size-fuente-btn-compra;
    padding: 5px 19px;

    &:hover {
        @extend %boton-menu-hover;
        transform: scale(110%);
    }
  }

  .swal-modal {
    font-family: $fuente;
  }

  .swal-text {
    font-size: $size-fuente-swal;
  }
