#productos {
    font-family: $fuente;
    font-size: $size-fuente-header;

    div {


        h1 {
            @extend %texto-titulos;
            padding: $pad-h1;
        }

        div {
            #btnLogin {
                font-size: $size-fuente-btn-compra;
            }

            #btnCompra {
                font-size: $size-fuente-btn-compra;
            }
        }

        #carrito {


            div {

                h2 {
                    font-weight: bold;
                    justify-self: center;
                }

                div {
                    ul {
                        border-style: solid;
                        border-color: black;
                        border-radius: 5px;
                        border-width: 1px;
                        list-style: none;
                    }
                }
            }

        }

        button {
            @extend %boton-menu;

            &:hover {
                @extend %boton-menu-hover;
                transform: scale(110%);
            }
        }

    }


}

// Estilos Sweetalert
.swal-button {
    @extend %boton-menu;
    font-family: $fuente;
    font-size: $size-fuente-btn-compra;
    padding: 5px 19px;

    &:hover {
        @extend %boton-menu-hover;
        transform: scale(110%);
    }
  }

  .swal-modal {
    font-family: $fuente;
  }

  .swal-text {
    font-size: $size-fuente-swal;
  }
